# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id

# Wallet Configuration
NEXT_PUBLIC_WC_PROJECT_ID=your_walletconnect_project_id

# Admin Wallet Address (the wallet that has admin access to the platform)
NEXT_PUBLIC_ADMIN_WALLET=0x9335E6F2eDA0d96E0B88c104d39a221DF001e475
